.idea/
.ipynb_checkpoints/
.*
models/official/
models/research/object_detection/test_ckpt
models/research/pytorch_vae/
models/research/tutorials/
models/research/vae
models/samples/
models/tutorials/
obj-det1/
od-output/
td-output/
text-detection/
train_images/
